<%= link_to "Clear Filters", browse_musos_path %>
<form action="/search/musos" method="get">
    name
    <input type="text" name="name_q" value="<%= @filters[:name_q] if !!@filters %>">
    location
    <input type="text" name="location_q" value="<%= @filters[:location_q] if !!@filters %>">
    keywords (comma seperated):
    <input type="text" name="key_words" value="<%= @filters[:key_words] if !!@filters%>">
    Minimum rating:
    <input type="number" min="0" max="4" name="min_rating" value="<%= @filters[:min_rating] if !!@filters %>">
    base price:
    min
    <input type="number" min="0" name="bprice_min" value="<%= @filters[:bprice_min] if !!@filters %>">
    max
    <input type="number" min="0" name="bprice_max" value="<%= @filters[:bprice_max] if !!@filters %>">


    <button>Search...</button>
</form>

<% @muso_results.each do |muso| %>
    <p><%= muso.name %> - <%= muso.average_rating %></p>

<% end %>