<div class="box-container">
  <%= form_tag "/jobs/#{@job.id}", method: 'put' do %>
    <span>Title</span>
    <input class="input-box" type="text" name="job[title]" value="<%= @job.title%>">
    <span>Duration</span>
    <input class="input-box" type="text" name="job[duration]" value="<%=@job.duration%>">
    <span>Budget</span>
    <input class="input-box" type="text" name="job[budget]" value="<%=@job.budget%>">
    <span>Alter date or Time</span>
    <%# need to fix the value of date-time %>
    <input class="input-box" type="datetime-local" name="job[date_time]" value="<%=@job.date_time%>">
    <span>Location</span>
    <input class="input-box" type="text" name="job[location]" value="<%=@job.location%>">
    <span>Mark as complete</span>
    <%# have form showing selected applicant %>
    <div class="mark-complete">Completed</div>
    <button class="submit-btn">Update</button>
  <% end %>

  <%= form_tag "/jobs/#{@job.id}", method: 'delete' do%>
    <button class="delete-btn">Delete</button>
  <% end %>
</div>
