<h1>Job listings</h1>
<div class="sort">
  <%= render "jobs/partials/host_filters" if !!current_host %>
</div>

<div class="all-job-listings">
  <% @jobs.each do |job|  %>
  <div class="job-listing">
    <div class="job-details">
      <div>
        <h4><%= job.title %></h4>
        <p><%= job.location %></p>
        <p>Event time: <%= clean_date_time(job.date_time) %></p>
        <p><%= job.description%></p>
        <p>Posted by: <%= job.host.name%></p>
      </div>
      <div>
        <span>$<%= job.budget %></span>
      </div>
    </div>
    <% if !!current_muso %>
      <div class="apply">
        <%= form_tag "/job_applications", method: "post" do %>
          <input type="hidden" name="job_id" value="<%= job.id %>">
          <% unless application_exists(current_muso, job) %>
            <button class="apply-btn">apply</button> 
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <% end %>
</div>