<h1>Job listings</h1>
<%# <div class="sort">
  <ul>
    <li><a href='#'>All</a></li>
    <li><a href='#'>Applied</a></li>
    <li><a href='#'>Accepted</a></li>
  </ul>
</div> %>

<%# Search partial should be rendered here %>
<div class="all-job-listings">
  <% @jobs.each do |job|  %>
  <a href="/jobs/<%=job.id%>">
    <article>
      <div class="job-left">
        <h4><%= job.title %></h4>
        <span class="job-location-date"><%= job.location %></span><%= job.date_time.to_formatted_s(:short)%>
      </div>
      <div class='job-right'>
        <span class="job-budget">$ <%= job.budget %></span>
        <span class="job-host"><%= job.host.name %></span>
        <%# <span> ADD TAGS </span> %>
      </div>
<<<<<<< HEAD
    </article>
    </a>
  <% end %>
</div>

<script>
=======
    </div>
    <div class="apply">
      <button class="apply-btn">apply</button> 
    </div>
    
  </div>
>>>>>>> master


</script>