<div class="job-listing-full">
  <h3><%= @job.title %></h3>
  <div class="job-info">
    <span><%= @job.date_time %></span>
    <span><%= @job.location %></span>
    <span><%= @job.filled %></span>
    <span><%= @job.complete %></span>
    <span><%= @job.budget %></span>
  </div>
  <p>
    <%= @job.description %>
  </p>
  <div class="apply">
  <% if logged_in? && current_muso %>
    <%= form_tag '/job_applications', method: 'post' do%>
    <input type="hidden" name="job_id" value="<%= @job.id%>">
    <button>Apply</button>
    <% end %>
  <% end %>
  </div>
  <div class="application">
  <% @job.job_applications.all_not_rejected.each do |job_app|%>
    <% if logged_in? && current_host == @job.host %>
    
    <%= job_app.muso.name %>
      <%= form_tag "/job_applications/#{@job.id}/reject", method: 'put' do %>
      <input type="hidden" name="job_application_id" value="<%= job_app.id %>">
      <button>Reject</button>
      <% end  %>
    <% end %>
  <% end %>
  </div>
  <div class="application-count">
  <p><%= @job.job_applications.count %></p>
  </div>
  <div class="muso-application">
  <%# <% if logged_in? &&   %> %>
  </div>
  <%# if user is a host add section to select from drop down %>
</div>

