<div class="job-listing-full">
  <h3><%= @job.title %></h3>
  <div class="job-info">
    <span><%= @job.date_time %></span>
    <span><%= @job.location %></span>
    <span><%= @job.filled %></span>
    <span><%= @job.complete %></span>
    <span><%= @job.budget %></span>
  </div>
  <p>
    <%= @job.description %>
  </p>

  <% if which_user == current_muso %>
    <%= render "jobs/partials/muso_apply"  %>
    <%= render "jobs/partials/muso_application" %>
  <% else  %>
    <%= render "jobs/partials/mark_complete" %>
    <%= render "jobs/partials/host_view_applications" %>
  <% end  %>

  <div class="application-count">
  <p><%= @job.job_applications.count %></p>
  </div>


  <%# if user is a host add section to select from drop down %>
</div>

