<div class="review-header">
    <div>
        <p>2 Reviews <span>&#9733;&#9733;&#9733;&#9733;&#9733;</span></p>

    </div>
    <div>
        <p>Sort?</p>
    </div>
</div>

<% @muso.jobs.each do |job| %>
    <div class="review-box">
        <div class="host-avatar">
        </div>
        <div class="review-deets">
            <div class="review-title">
                <div id="rateYo-<%= job.id %>"></div>
                <p><%= job.host.name %></p>
            </div>
            <div>
                <p><%= job.muso_review.comment %></p>
                <small><%= job.muso_review.created_at %></small>
            </div>
        </div>
    </div>
    <script>
            $("#rateYo-<%= job.id %>").rateYo({
                rating: <%= job.muso_review.rating %>
            });
    </script>
<% end %>

<%# Need to add a button to leave review if muso has completed a job / event for the host %>
