<div class="review-header">
    <div>
        <p><%= @muso.muso_reviews.count %> Reviews <div id="rateYo-average"></div></p>

    </div>
    <div>
        <p>Sort?</p>
    </div>
</div>

<% @muso.muso_reviews.each do |review| %>
    <div class="review-box">
        <div class="host-avatar">
        </div>
        <div class="review-deets">
            <div class="review-title">
                <div id="rateYo-<%= review.id %>"></div>
                <p><%= review.job.host.name %></p>
            </div>
            <div>
                <p><%= review.comment %></p>
                <small><%= clean_date_time(review.created_at) %></small>
            </div>
        </div>
    </div>
    <script>
            $("#rateYo-<%= review.id %>").rateYo({
                rating: <%= review.rating %>,
                readOnly: true
            });
    </script>
<% end %>
    <script>
            $("#rateYo-average").rateYo({
                rating: <%= @muso.average_rating %>,
                readOnly: true
            });
    </script>
