<%= form_tag "/musos/#{@muso.id}/tags", method: "post" do %>
    
    <input type="hidden" name="muso_id" value="<%= @muso.id %>">
    <label for="tags">Tags</label>
    <textarea class="input-box" name="tags"></textarea>


    <button class="submit-btn">Save my Tags!</button>
<% end %>

<% @muso.tag_list.each do |tag| %>

    <p>
        <%= tag %>
        <%= form_tag "/musos/#{@muso.id}/tags", method: "delete" do %>
            <input type="hidden" name="tag" value="<%= tag %>">
            <button class="submit-btn">X</button>
        <% end %>
    
    </p>


<% end %>