
<div class="test-blend">
  <div class="muso-content">
    <div class="muso-header">
      <div class="muso-header-left">
        <h2><%= @muso.name %> <span class="stars"> &#9733; &#9733; &#9733; &#9733; &#9733;</span></h2>

        <%# <%= image_tag(@muso.avatar.thumb.url)  %>
        <p>$<%= @muso.base_price %>/hr</p>
        <p><%= @muso.location %></p>
        
      </div>
      <div class="muso-header-right">
        <button class="contact-muso-btn">contact</button>
      </div>
    </div>
    <div>
      <p><%= @muso.bio %></p>
    </div>

    <div>
      <% @muso.tag_list.each do |tag| %>
        <span><%= tag %></span>

      <% end %>
    </div>

  <div class="embed-container">
    <% if muso.url.include? 'youtube' %>
      <iframe class="youtube-embed" width="100%" height="315" src="<%= muso.url.sub('watch?v=', 'embed/') %>?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <% else %>
      <div class="soundcloud-embed">
        <%= muso.url.sub('<iframe width="100%" height="300"', '<iframe width="50%" height="80"').html_safe %>
      </div>
      <div>
        <%= render "musos/partials/gallery" %>
      
      </div>
      <div class="arrow-right">
        <div class="fas fa-angle-right"></div>
      </div>
    </div>

    <div class="muso-embed">
      
      <% @muso_embed.each do |muso| %>
        <div class="embed-container">
          <% if muso.url.include? 'youtube' %>
            <iframe class="youtube-embed" width="560" height="315" src="<%= muso.url.sub('watch?v=', 'embed/') %>?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          <% else %>
            <div class="soundcloud-embed">
              <%= muso.url.sub('<iframe width="100%" height="300"', '<iframe width="50%" height="80"').html_safe %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    

    <%= render "musos/partials/reviews" %>

  </div>
</div>
