<!DOCTYPE html>
<html>
  <head>
    <title>SocialFretwork</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
    
  <body>
    <nav>
      <ul class="main-nav">
          <div class="left-nav">
            <li><a href='#'>something</a></li>
            <li><a href='#'>something</a></li>
          </div>
          <div class="home-nav">
            <li><a href='#'>SOCIAL FRETWORK</a></li>
          </div>
          <div class="right-nav">
            <li><a href='#'>something</a></li>

            <%# <li><a href='#'>avatar stuff</a></li> %>
            <li class="user-stuff">
              <% if logged_in? %>
                
                <p> <%= which_user.name %> </p>

                <form action="/session" method="post">
                  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                  <input type="hidden" name="_method" value="delete">
                  <button>logout</button>
                </form>

              <% else %>
                <form action="/login" method="get">
                  <button class="">login</button>
                </form>
                <form action="/new" method="get">
                  <button class="">signup</button>
                </form>
              <% end %>
        
                
            </li>

          </div>
      </ul>
    </nav>


    <%= yield %>


    <footer>
      <p>I'm a footer</p>
    </footer>
  </body>
</html>
